<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h1>You have successfully Logged into Contrller View</h1>
    <form action="#" method="GET">
        <input type="button" value="Offer Course">
        <input type="button" value="Manage Semeseter">
        <input type="button" value="View Plo Transcript">
    </form>
</body>

</html>