<!DOCTYPE html>
<html>

<head>
    <title>DataBase Home</title>
</head>

<body>
    <h1>Welcome To CLO-PLO DataBase Management System Of GIKI</h1>

    <h2>
        <ol>
            <li><a href="dean_login.ejs">Dean Login</a></li>
            <li><a href="instruct_login.ejs">Instructor Login</a></li>
            <li><a href="controller_login.ejs">Controller Login</a></li>
        </ol>

    </h2>
</body>

</html>