<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h1>You have successfully logged into Instructor Section</h1>

    <h2>
        <ol>
            <li><a href="instructor_courses_assesment.ejs">Manage Course Assesments</a></li>
            <li><a href="instructor_clo_management.ejs">Manage Clos</a></li>
        </ol>

    </h2>




</body>

</html>