<h1>Here You will manage Clos and their Mapping </h1>

<form action="/course-clo" method="POST">
    <label for="student">Course Id</label>
    <input type="text" id="course_id" name="course_id" placeholder="course_id">

    <label for="student">Course Name</label>
    <input type="text" id="course_name" name="course_name" placeholder="course_name">

    <button>Search for the course</button>
</form>