<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form action="/register" method="POST">
        <div>
            <label for="id"></label>
            <input type="text" id="id" name="id" required>
        </div>
        <div>
            <label for="role"></label>
            <input type="text" id="role" name="role" placeholder="i.e Dean" required>
        </div>
        <div>
            <label for="password"></label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Rigister</button>
    </form>

</body>

</html>