<title>Controller View</title>
<h1>
    <ol>
        <ul>
            <li><a href="manage_offered_semester">Manage Offer Semester</a></li>
            <li><a href="course_offer">offer Course</a></li>
            <li><a href="plo_transcript">View Plo transcript of a stuedent</a></li>
        </ul>
    </ol>
</h1>