<br>
<h1>PLO Transcript Section</h1>
<hr>
<form action="plo_search" method="POST">
    <input type="text" name="reg" id="reg" placeholder="Registration Number">
    <button type="submit">Search Student</button>

</form>