<h1>this is dean view</h1>
<h1><%=result%></h1>

<h1>
    <ul>
        <li><a href="course_management/<%=result%>">Managei courses</a></li>
        <li><a href="degree_plan/<%=result%>">Set Degree Plan</a></li>
        <li><a href="plo_management/<%=result%>">Manage PLO</a></li>
    </ul>
</h1>